{% extends "base.html" %}

{% block titulo %}
    <title>pythonista - {{title}}</title>
{% endblock %}

{% block contenido %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>pythonista - {{title}}</h1>
  <p>esta es una pequeña tienda virtual hecha en django, para un taller de programación web</p>
  <p><a href="https://www.facebook.com/pythonistapopayan" class="btn btn-primary btn-large">conoce más &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Nuestros productos</h2>
    <p>checa todas las opciones en cuanto a nuevos amiguitos que puedes encontrar en nuestra tienda</p>
    <p><a class="btn" href="productos">ver detalles &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Pedidos</h2>
    <p>animate a tener un nuevo compañerito en tu vida, puedes ordenar tambien accesorios y mucho más</p>
    <p><a class="btn" href="pedidos">View details &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>contactanos</h2>
    <p>aprende más sobre pythonista - tienda de mascotas, revisa nuestras redes sociales y escribenos</p>
    <p><a class="btn" href="https://www.facebook.com/pythonistapopayan">View details &raquo;</a></p>
  </div>
</div>
{% endblock %}
